mixin entry(position, company, location, from, to, link)
  .entry
    .title

      .left

        if link
          .position
            a(href=link)= position
        else
          .position= position

        if company
          .company= "| " + company.toUpperCase()

      .right

        if location
          .location= location
        if from
            if to
              .time= "| " + from + " — " + to
            else if !location
              .time= from
            else
              .time= "| " + from

    block
