mixin entry(position, company, company_url, location, from, to, link)
  .entry
    .title

      .left

        if link
          .position
            a(href=link)= position
        else
          .position= position

        if company
          if company_url
            .company= "| "
              a(href=company_url)= company.toUpperCase()
          else
            .company= "| " + company.toUpperCase()

      .right

        if location
          .location= location
        if from
            if to
              .time= "| " + from + " — " + to
            else if !location
              .time= from
            else
              .time= "| " + from

    block
